awscli==1.11.10
botocore==1.4.67
click==6.6
colorama==0.3.7
Django==1.10.2
djangorestframework==3.5.1
docutils==0.12
eventlet==0.19.0
Flask==0.11.1
Flask-Cors==3.0.2
Flask-SocketIO==2.7.1
greenlet==0.4.10
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
lxml==3.6.4
MarkupSafe==0.23
newrelic==2.72.1.53
pyasn1==0.1.9
python-dateutil==2.5.3
python-engineio==1.0.3
python-memcached==1.58
python-socketio==1.6.0
requests==2.11.1
rsa==3.4.2
s3transfer==0.1.9
six==1.10.0
Werkzeug==0.11.11
